# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# celery beat schedule file
celerybeat-schedule

# data files CSV .pickle
/stock_dfs
*.pickle
*.CSV

# config files
*config.py
*config
*Config
database_config.cfg
ConfigParser.ini
*.cfg
*.ini
.editorconfig
*_config


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints


# project specific
tests/reports/
ignore_deb.deb
ignore_image.jpg
ignore_pdf.pdf
ignore_zip.zip

# pyenv
.python-version



# mypy
.mypy_cache/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# SQL files
.sql

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/